*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box faz com que o cada elemento se contente com a sua box, sem ser somado com o padding e margin  */
    box-sizing: border-box;
    color: #a09038;
    /* caso o navegador não consiga carregar a nossa fonte roboto, ele carrega uma fonte sem serifa mais simples */
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

header ul{
    display: flex;
    justify-content: space-around;
}

header ul li{
    padding: 10px;
}

body{
    /* background-image: url(./pexels-cátia-matos-1072179\ \(1\).jpg );
    background-repeat: no-repeat;
    background-position: center center fixed; */
    background: url(./pexels-cátia-matos-1072179\ \(1\).jpg) no-repeat center center fixed;
    /* background-size: cover deixa o fundo ocupando toda a tela, se adaptando ao tamanho dela */
    background-size: cover;

}

ul{
    list-style: none;
    font-size: 25px;
    font-style: italic;
    font-weight: 500;
}

a{
    text-decoration: none;
}

.container{
    text-align: center;
}

.container .name h1{
    font-size: 60px;
    font-style: italic;
    font-weight: 900;
}

.container .name h5{
    font-size: 20px;
}

#about p{
    max-width: 700px;
    margin: 0 auto;
}

/* .form vai ter 40% da largura da div pai, o container */
.form{
    width: 40%;
    margin: 0 auto;
}

/* input (seu melhor email) vai ter largura de 50% do form */
.form input{
    width: 50%;
}

.form button{
    width: 15%;
}
